body{
  background-color: rgb(164, 222, 203);
}
.container {
  width: 420px;
  margin: 40px auto;
  font-family: Arial, sans-serif;
}

h2 {
  text-align: center;
}

.form {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 0 5px black;
  
}

label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

input, textarea {
  width: 90%;
  padding: 8px;
  margin-top: 4px;
}

.radio-group {
  display: flex;
  gap: 20px;
  margin-top: 5px;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #43a047;
}

.g1{
  display: flex;
  margin-right: 40px;
  margin-left: 40px;
}

.error {
  color: red;
  font-size: 12px;
}

.result {
  margin-top: 20px;
  padding: 15px;
  background: #e8f5e9;
  border-radius: 5px;
  box-shadow: 0 0 5px black;

}
